<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="#">South East Wales Trials Unit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Create
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="http://localhost:8080/api/question_select">Questionnaire</a>
                        <a class="dropdown-item" href="http://localhost:8080/api/create_question">Question</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Edit
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Questionnaire</a>
                        <a class="dropdown-item" href="#">Question</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/api/preview_questionnaire">Preview</a>
                </li>
            </ul>
        </div>
    </div>
</nav>